<<<<<<< HEAD
#hero {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  margin-top: -90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#hero p {
  color: aqua;
  font-size: 25px;
  max-width: 90%;
  word-wrap: break-word;
}

#hero p:first-child {
  font-size: 4rem;
  color: aqua;
  text-shadow: 0 0 3px black, 0 0 8px blue, 0 0 12px white;
}

.typing {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  font-family: monospace;
  animation: typing 5s steps(40, end) forwards, blink 0.8s infinite;
  font-weight: bolder;
  color: aqua;
  text-shadow: 0 0 3px cyan, 0 0 8px blue, 0 0 12px white;
  ;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 25ch;
  }

}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


@media (max-width: 768px) {
  #hero {
    height: auto;
    padding-top: 80px;
    margin-top: 20vw;
  }

  #hero p {
    font-size: 4vw;
  }

  #hero p:first-child {
    font-size: 6vw;
  }

  #hero::after {
    content: "";
    display: block;
    height: 90px;
  }
}

@media (max-width: 480px) {
  #hero {
    height: auto;
    padding-top: 80px;
    margin-top: 30vw;
  }

  #hero p {
    font-size: 5vw;
  }

  #hero p:first-child {
    font-size: 7vw;
  }

  #hero::after {
    content: "";
    display: block;
    height: 50vh;
    height: 90px;
  }
=======
#hero {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  margin-top: -90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#hero p {
  color: aqua;
  font-size: 25px;
  max-width: 90%;
  word-wrap: break-word;
}

#hero p:first-child {
  font-size: 4rem;
  color: aqua;
  text-shadow: 0 0 3px black, 0 0 8px blue, 0 0 12px white;
}

.typing {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  font-family: monospace;
  animation: typing 5s steps(40, end) forwards, blink 0.8s infinite;
  font-weight: bolder;
  color: aqua;
  text-shadow: 0 0 3px cyan, 0 0 8px blue, 0 0 12px white;
  ;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 25ch;
  }

}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


@media (max-width: 768px) {
  #hero {
    height: auto;
    padding-top: 80px;
    margin-top: 20vw;
  }

  #hero p {
    font-size: 4vw;
  }

  #hero p:first-child {
    font-size: 6vw;
  }

  #hero::after {
    content: "";
    display: block;
    height: 90px;
  }
}

@media (max-width: 480px) {
  #hero {
    height: auto;
    padding-top: 80px;
    margin-top: 30vw;
  }

  #hero p {
    font-size: 5vw;
  }

  #hero p:first-child {
    font-size: 7vw;
  }

  #hero::after {
    content: "";
    display: block;
    height: 50vh;
    height: 90px;
  }
>>>>>>> 38801625133ffe4fd4aa246278d75126d4843249
}